= form_for(post, html: {multipart: true}) do |f|
  = render 'shared/errors', model: post

  .field
    = f.label :thumbnail, 'Thumbnail'
    = f.file_field :thumbnail
  .field
    = f.label :title, 'Titulo'
    = f.text_field :title, class: 'form-control', required: 'required',
      placeholder: 'Digite o titulo', autocomplete: 'off'
  .field
    = f.label :description, 'Descrição'
    = f.text_area :description, class: 'form-control', required: 'required',
      placeholder: 'Digite a descrição', autocomplete: 'off'
  .field
    = f.label :content, 'Conteudo'
    = f.text_area :description, class: 'form-control', required: 'required',
    placeholder: 'Digite o conteudo', autocomplete: 'off'
  .field
    = f.label :published, 'Publicado?'
    %br
    = f.check_box :published
  .field
    = f.label :tags, 'Tags'
    = f.text_field :tags, class: 'form-control', required: 'required',
    placeholder: 'Digite as tags', autocomplete: 'off'
  .field
    = f.label :category_id, 'Categoria'
    = f.collection_select :category_id,
    Category.order(name: :asc), :id, :name,
    {prompt: 'Selecionar Categoria'}, {class: 'form-control', required: 'required'}
  .actions
    %br
    = f.submit nil, class: 'btn btn-primary btn-lg top'